<!DOCTYPE html>
<html>
<head>
  <title>IvoryTower Redesign</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
